:root {
  --main-bg-color: #555555;
  --second-bg-color: #9b9b9b;
  --output-bg-color: #fcfcfc;
  --btn-num-color: #f6f6f6;
  --btn-fn-operator-color: rgb(202, 202, 202);
  --btn-hover-color: #e8e8e8;
  --main-font-color: rgb(68, 68, 68);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.subtitle {
  font-family: monospace;
  text-align: center;
  color: var(--main-font-color);
}

.title {
  font-size: 20px;
  font-weight: 400;
}

.subtitle {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 10px;
}

.calc-container {
  padding: 1px;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  box-shadow: 0 1px 3px var(--second-bg-color), 0 1px 2px var(--second-bg-color);
}

.output {
  padding: 2px;
}

.operation,
.result {
  background-color: var(--output-bg-color);
  font-family: monospace;
  color: var(--main-font-color);
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

.operation {
  height: 30px;
  line-height: 30px;
  padding: 3px;
  font-size: 13px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 3px;
}

.result {
  height: 50px;
  line-height: 50px;
  padding: 2px 6px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 0 0 4px 4px;
  margin-bottom: 1px;
}

.input {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  grid-template-rows: repeat(9, 40px);
  grid-template-areas:
    "i1 i2 i3 i4 i5 i6"
    "h1 h2 h3 h4 h5 h6"
    "g1 g2 g3 g4 g5 g6"
    "f1 f2 f3 f4 f5 f6"
    "e1 e2 e3 e4 e5 e6"
    "d1 d2 d3 d4 d5 d6"
    "c1 c2 c3 c4 c5 c6"
    "b1 b2 b3 b4 b5 b6"
    "a1 a2 a3 a4 a5 a6";
  padding: 0 1px 2px 1px;
  border-radius: 4px;
}

.btn {
  margin: 1px;
  background-color: var(--btn-num-color);
  font-family: monospace;
  font-weight: 700;
  font-size: 14px;
  color: var(--main-font-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

.btn-operator,
.btn-sign,
.btn-fn {
  background-color: var(--btn-fn-operator-color);
  font-weight: 700;
  font-size: 15px;
}

/* button positioning */
/* digits */
.btn-0 {
  grid-area: a4;
}
.btn-1 {
  grid-area: b3;
}
.btn-2 {
  grid-area: b4;
}
.btn-3 {
  grid-area: b5;
}
.btn-4 {
  grid-area: c3;
}
.btn-5 {
  grid-area: c4;
}
.btn-6 {
  grid-area: c5;
}
.btn-7 {
  grid-area: d3;
}
.btn-8 {
  grid-area: d4;
}
.btn-9 {
  grid-area: d5;
}

/* operators */
.btn-equal {
  grid-area: a6;
}
.btn-plus {
  grid-area: b6;
}
.btn-minus {
  grid-area: c6;
}
.btn-multiplication {
  grid-area: d6;
}
.btn-division {
  grid-area: e6;
}

/* signs*/
.btn-coma {
  grid-area: a5;
}
.btn-plus-minus {
  grid-area: a3;
}
.btn-parenthesis-left {
  grid-area: e3;
}
.btn-parenthesis-right {
  grid-area: e4;
}

/* fn */
.btn-ln {
  grid-area: a2;
}
.btn-log {
  grid-area: b2;
}
.btn-e-pow-x {
  grid-area: a1;
}
.btn-log-base-y-of-x {
  grid-area: b1;
}
.btn-10-pow-x {
  grid-area: c2;
}
.btn-2-pow-x {
  grid-area: c1;
}
.btn-x-pow-y {
  grid-area: d2;
}
.btn-sqrt {
  grid-area: e2;
}
.btn-cube-root {
  grid-area: e1;
}
.btn-y-root-of-x {
  grid-area: d1;
}
.btn-x-pow-2 {
  grid-area: f2;
}
.btn-x-pow-3 {
  grid-area: f1;
}
.btn-factorial {
  grid-area: e5;
}
.btn-exp {
  grid-area: f5;
}
.btn-mod {
  grid-area: f6;
}
.btn-reciprocal {
  grid-area: f3;
}
.btn-abs {
  grid-area: f4;
}
.btn-percentage {
  grid-area: g2;
}
.btn-ac {
  grid-area: g5;
}
.btn-delete {
  grid-area: g6;
}

/* constants */
.btn-e {
  grid-area: g4;
}
.btn-pi {
  grid-area: g3;
}
