body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body .calculator {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .calculator .calc-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

body .calculator .calc-container {
  width: 300px;
  padding-top: 1px;
  background-color: #9b9b9b;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px #9b9b9b, 0 1px 2px #9b9b9b;
          box-shadow: 0 1px 3px #9b9b9b, 0 1px 2px #9b9b9b;
}

body .calculator .calc-container .output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: #9b9b9b;
  border: 1px solid #9b9b9b;
}

body .calculator .calc-container .output .operation {
  color: #383838;
  height: 30px;
  line-height: 30px;
  padding: 3px;
  text-align: right;
  font-size: 13px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #f6f6f6;
  border-radius: 4px;
  margin-bottom: 3px;
}

body .calculator .calc-container .output .current-result {
  color: #000;
  height: 50px;
  line-height: 50px;
  padding: 3px 5px;
  font-weight: 700;
  text-align: right;
  font-size: 17px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #f6f6f6;
  border-radius: 4px;
}

body .calculator .calc-container .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2px;
  border-radius: 4px;
}

body .calculator .calc-container .input .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1px;
}

body .calculator .calc-container .input .row .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 24.5%;
      flex-basis: 24.5%;
  height: 48px;
  background-color: #f6f6f6;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 4px;
}

body .calculator .calc-container .input .row .btn:hover {
  background-color: #e8e8e8;
}

body .calculator .calc-container .input .row .fn-btn, body .calculator .calc-container .input .row .operator {
  background-color: #dedede;
  font-weight: 700;
  font-size: 13px;
}

body .calculator .calc-container .input .row .fn-btn sup {
  font-size: 8px;
}
/*# sourceMappingURL=style.css.map */